<html>
  <div>
    <%= link_to "rating-ascending", books_path(order: 'rating')%>
    <%= link_to "rating-descending", books_path(order: 'rating desc')%>
    <%= link_to "pages-ascending", books_path(order: 'pages')%>
    <%= link_to "pages-descending", books_path(order: 'pages desc')%>
    <%= link_to "reviews-ascending", books_path(order: 'reviews')%>
    <%= link_to "reviews-descending", books_path(order: 'reviews desc')%>
  </div>
  <section id="books-section">
    <% @books.each do |book| %>
      <article class="book" id="book-<%= book.id%>">
        <h4 class="book-title"><%= book.title %></h4>
        <span class="book-author">by: <%= book.get_authors.join(", ") %></span>
        <span class="book-rating">
          <%= "#{'â­' * book.average_rating.to_i} #{book.number_of_reviews.to_s}
 user review#{book.number_of_reviews != 1 ? 's' : ''}"%>
        </span>
        <img src="<%=book.book_cover%>" />
        <div class="book-footer">
          <span>published: <%= book.year_published %></span>
          <span>pages: <%= book.pages %></span>
        </div>
      </article>
    <% end %>
  </section>
</html>
