<html>
  <article class="book" id="book-<%= @book.id%>">
    <h4 class="book-title"><%= @book.title %></h4>
    <span class="book-author">
      <% if @book.get_authors %>
        by:
        <% @book.get_authors.each do |author| %>
          <%= link_to author.name, author_path(author) %>
        <% end %>
        <% "et al" if @book.authors.count > 2 %>
      <% else %>
        by: Anonymous
      <% end %>
    </span>
    <span class="book-rating">
      <%= "#{'â­' * @book.average_rating.to_i} #{@book.number_of_reviews.to_s}
 user review#{@book.number_of_reviews != 1 ? 's' : ''}"%>
    </span>
    <img src="<%=@book.book_cover%>" />
    <div class="book-footer">
      <span>published: <%= @book.year_published %></span>
      <span>pages: <%= @book.pages %></span>
    </div>
  </article>
  <section>
    <% @book.reviews.each do |review| %>
      <article id="review-<%=review.id%>">
        <h6> <%= review.headline%> </h6>
        <span>Rating: <%= review.rating%> </span>
        <span> <%= review.user.name %></span>
        <%= image_tag  review.user.photo %>
        <p> <%= review.text%> </p>
      </article>
    <% end %>
  </section>
</html>
